.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #159eee;
}

#logo{
color: #159eee;
font-display: bold ;
}

#headbar{
background-color: black;
color: white;
}
.fa-facebook-f:hover{
    color: #159eee;
}
.fa-twitter-square:hover{
    color: #159eee;
}
.fa-youtube:hover{
    color: #159eee;
}
#phonenumber:hover{
    color: #159eee;
}
#emailaddress:hover{
    color:#159eee;
    
}
.ResButton{
    float: right;
}

#footer{
    background-color: #34363e;
}
.footercolour{
    background-color: #34363e;
}
.card-footer{
    background-color: #34363e;
    border-width:  0px;
}
.row{
    color: white;
}
.card-title-footer{
    border-bottom: 5px #159eee;
}
hr{
        border: 2px solid#159eee;
        width: 75px;
        text-allign:left; 
        margin-left: 0;
}
.card-body-footer{
    align-content: left;
}
a{
    color: #fff;
}
.blackbar {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.header_icons {
    margin-left: 10px;
}
.fontcolour{
    color: white !important;
}
